[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
psycopg = "*"

[dev-packages]
ipython = "*"
black = "*"
setuptools = "*"
pytest-postgresql = "*"
pytest = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
